.idea/**
#**/*.css
**/*.html
**/*.pyc
result/test-temp-files/dp_temp_db.db
result/test-temp-files/result_analysis_req_params.txt
**/workspace.xml
**/base_one.env
**/*pytest-env.txt
**/*.pem
**/result.xml
src/allure-report/
**/local_execution_mode.txt
dev-rnd-files/help.txt
**/help.txt
**/cred
.idea/workspace.xml
test-temp-files/
../.idea/workspace.xml
../result/.DS_Store
**/.pytest_cache
**/.DS_Store
